@{
    ViewData["Title"] = "Головна";
    ViewData["PageCss"] = "services.css";
}

<!DOCTYPE html>
<html lang="uk">
  <body>
    <main class="page">
      <h1 class="page-title">Почніть свій ремонт</h1>
      <div class="container">
        <section class="service-grid">
          <a asp-area="User" asp-controller="Services" asp-action="Phone" class="service-grid__item">
            <img
              src="/assets/imgs/sections/repair-steps/phone.svg"
              alt="Смартфон"
              loading="lazy"
            />
            <span class="paragraph_3">Ремонт Смартфонів</span>
          </a>
          <a asp-area="User" asp-controller="Services" asp-action="Tablet" class="service-grid__item">
              
            <img
                src="/assets/imgs/sections/repair-steps/tablet.svg"
                alt="Планшет"
                loading="lazy"
            />
            <span class="paragraph_3">Ремонт Планшетів</span>

          </a>
          <a asp-area="User" asp-controller="Services" asp-action="Laptop" class="service-grid__item">
            <img
                src="/assets/imgs/sections/repair-steps/laptop.svg"
                alt="Ноутбук"
                loading="lazy"
            />
            <span class="paragraph_3">Ремонт Ноутбуків</span>
          </a>
          <a asp-area="User" asp-controller="Services" asp-action="PC" class="service-grid__item">
            <img
                src="/assets/imgs/sections/repair-steps/pc.svg"
                alt="Комп'ютер"
                loading="lazy"
            />
            <span class="paragraph_3">Ремонт Комп'ютерів</span>
          </a>
          <a asp-area="User" asp-controller="Services" asp-action="TV" class="service-grid__item">
            <img
                src="/assets/imgs/sections/repair-steps/tv.svg"
                alt="Телевізор"
                loading="lazy"
            />
            <span class="paragraph_3">Ремонт Телевізорів</span>
          </a>
          <a asp-area="User" asp-controller="Services" asp-action="Printer" class="service-grid__item">
            <img
                src="/assets/imgs/sections/repair-steps/print.svg"
                alt="Принтер"
                loading="lazy"
            />
            <span class="paragraph_3">Ремонт Принтерів</span>
          </a>
        @* <a asp-area="User" asp-controller="Services" asp-action="Pc" class="service-grid__item"> *@
        @*     <div class="service-grid__item"> *@
        @*         <img src="/assets/imgs/sections/repair-steps/print.svg" *@
        @*                 alt="Принтер" *@
        @*                 loading="lazy" /> *@
        @*         <span class="paragraph_3">Ремонт Принтерів</span> *@
        @*     </div> *@
        @* </a> *@

        </section>
      </div>

      <section class="cracked-screen-section">
        <div class="cracked-screen-section__container">
          <div class="cracked-screen-section__text-content">
            <h2 class="cracked-screen-section__title">Тріснутий екран?</h2>
            <div class="cracked-screen-section__underline"></div>
            <div class="mobile-only">
              <div class="cracked-screen-section__img-container">
                <img
                  src="/assets/imgs/phone-hero.webp"
                  alt="Тріснутий екран телефону"
                  loading="lazy"
                />
              </div>
            </div>

            <p class="cracked-screen-section__desc">
              Розбите скло затемнює екран вашого телефону, планшета чи ноутбука?
              Зламаний екран мобільного телефону ускладнює виконання навіть
              найпростіших завдань.
            </p>
            <p class="cracked-screen-section__desc">
              Наші технічні спеціалісти володіють знаннями та досвідом, щоб
              виправити екрани на пристроях усіх марок і моделей.
            </p>
            <label
              for="order-repair-modal"
              class="cracked-screen-section__button"
            >
              Замовити ремонт
            </label>
          </div>
          <div class="desktop-only">
            <div class="cracked-screen-section__img-container">
              <img
                src="/assets/imgs/phone-hero.webp"
                alt="Тріснутий екран телефону"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Scripts -->
    <script src="/js/main.js"></script>
  </body>
</html>
