@{
    ViewData["Title"] = "Ремонт принтерів";
    ViewData["PageCss"] = "repair.css";
}

<body>
    <main class="repair-page">
        <nav class="breadcrumbs">
            <a href="/">Головна</a> / <a asp-area="User" asp-controller="Services" asp-action="List">Послуги</a> /
            <span class="font-bold">Ремонт принтерів</span>
        </nav>

        <h1 class="page-title">Ми ремонтуємо:</h1>

        <div class="tabs">
            <div class="tab">
                <a>Canon</a>
            </div>
            <div class="tab">
                <a>Epson</a>
            </div>
            <div class="tab">
                <a>HP</a>
            </div>
            <div class="tab">
                <a>Samsung</a>
            </div>
            <div class="tab">
                <a>Brother</a>
            </div>
            <div class="tab">
                <a>Xerox</a>
            </div>
        </div>

        <section class="repair-content repair-content--apple">
            <div class="repair-content__image-container">
                <img src="/img/devices/Photos/printer.jpg" alt="Apple iPhone" />
            </div>
            <div class="repair-content__text-container">
                <h2 class="repair-content__title font-semibold">
                    Пропонуємо професійний ремонт струменевих і лазерних принтерів для дому та офісу.
                </h2>
                <p class="repair-content__description">
                    Виконуємо прошивку, чистку, заміну картриджів, роликів, термоплівок і багато іншого.
                </p>
                <ul class="repair-content__features">
                    <li>
                        <svg width="20"
                             height="20"
                             viewBox="0 0 20 20"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.6668 5.83301L7.50016 14.9997L3.3335 10.833"
                                  stroke="#28a745"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </svg>
                        <span>
                            <strong class="font-semibold">Оригінальні запчастини</strong> —
                            використовуємо тільки сертифіковані комплектуючі.
                        </span>
                    </li>
                    <li>
                        <svg width="20"
                             height="20"
                             viewBox="0 0 20 20"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.6668 5.83301L7.50016 14.9997L3.3335 10.833"
                                  stroke="#28a745"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </svg>
                        <span>
                            <strong class="font-semibold">Наші фахівці</strong> 
                            мають глибоку експертизу у техніці Canon, HP, Epson, Brother тощо.
                        </span>
                    </li>
                    <li>
                        <svg width="20"
                             height="20"
                             viewBox="0 0 20 20"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.6668 5.83301L7.50016 14.9997L3.3335 10.833"
                                  stroke="#28a745"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </svg>
                        <span>
                            <strong class="font-semibold">Швидкий ремонт</strong> —
                            більшість робіт виконуємо в день звернення.
                        </span>
                    </li>
                </ul>
                <a asp-area="User" asp-controller="Application" asp-action="Help" for="order-repair-modal"
                       class="repair-content__button primary_button">
                    Здати в ремонт
                </a>
            </div>
        </section>

        <section class="repair-prices">
            <h2 class="repair-prices__title heading_2 font-semibold">Ціни</h2>

            <div class="repair-prices__table-container desktop-only">
                <table>
                    <thead>
                        <tr>
                            <th>Послуга</th>
                            <th>Ціна</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>Відновлення картриджа</td><td>150-800 грн</td></tr>
                        <tr><td>Заміна картриджа</td><td>150-800 грн</td></tr>
                        <tr><td>Промивка картриджа</td><td>150-800 грн</td></tr>
                        <tr><td>Виправлення помилок</td><td>350-800 грн</td></tr>
                        <tr><td>Заміна всмоктувальної прокладки</td><td>350-800 грн</td></tr>
                        <tr><td>Вивід відпрацьованих чорнил у ємність</td><td>350-800 грн</td></tr>
                        <tr><td>Чистка</td><td>50-500 грн</td></tr>
                        <tr><td>Ремонт вузла подачі</td><td>350-700 грн</td></tr>
                        <tr><td>Заміна ролику</td><td>100-500 грн</td></tr>
                        <tr><td>Перепрошивка</td><td>850-1500</td></tr>
                        <tr><td>Заміна лазера</td><td>500-1200</td></tr>
                        <tr><td>Заміна термоплівки</td><td>550-1500</td></tr>
                        <tr><td>Діагностика</td><td>Безкоштовно</td></tr>
                        <tr><td>Інша проблема</td><td>Від 180 грн</td></tr>
                    </tbody>
                </table>

            </div>

            <div class="repair-prices__table-container mobile-only">
                <table>
                    <thead>
                        <tr>
                            <th>Послуга</th>
                            <th>Ціна</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>Відновлення картриджа</td><td>150-800 грн</td></tr>
                        <tr><td>Заміна картриджа</td><td>150-800 грн</td></tr>
                        <tr><td>Промивка картриджа</td><td>150-800 грн</td></tr>
                        <tr><td>Виправлення помилок</td><td>350-800 грн</td></tr>
                        <tr><td>Заміна всмоктувальної прокладки</td><td>350-800 грн</td></tr>
                        <tr><td>Вивід відпрацьованих чорнил у ємність</td><td>350-800 грн</td></tr>
                        <tr><td>Чистка</td><td>50-500 грн</td></tr>
                        <tr><td>Ремонт вузла подачі</td><td>350-700 грн</td></tr>
                        <tr><td>Заміна ролику</td><td>100-500 грн</td></tr>
                        <tr><td>Перепрошивка</td><td>850-1500</td></tr>
                        <tr><td>Заміна лазера</td><td>500-1200</td></tr>
                        <tr><td>Заміна термоплівки</td><td>550-1500</td></tr>
                        <tr><td>Діагностика</td><td>Безкоштовно</td></tr>
                        <tr><td>Інша проблема</td><td>Від 180 грн</td></tr>
                    </tbody>
                </table>
            </div>

            <p class="repair-prices__disclaimer">
                Зверніть увагу, що ціни можуть змінюватись, тому уточнюйте актуальні
                ціни перед оформленням замовлення
            </p>
        </section>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>
