@{
    ViewData["Title"] = "Ремонт телевізорів";
    ViewData["PageCss"] = "repair.css";
}


<body>
    <main class="repair-page">
        <nav class="breadcrumbs">
            <a href="/">Головна</a> / <a asp-area="User" asp-controller="Services" asp-action="List">Послуги</a> /
            <span class="font-bold">Ремонт телевізорів</span>
        </nav>

        <h1 class="page-title">Ми ремонтуємо:</h1>

        <div class="tabs">
            <div class="tab">
                <a>Apple</a>
            </div>
            <div class="tab">
                <a>Samsung</a>
            </div>
            <div class="tab">
                <a>Xiaomi</a>
            </div>
            <div class="tab">
                <a>Huawei</a>
            </div>
            <div class="tab">
                <a>OnePlus</a>
            </div>
            <div class="tab">
                <a>Інше</a>
            </div>
        </div>

        <section class="repair-content repair-content--apple">
            <div class="repair-content__image-container">
                <img src="/img/devices/Photos/tv.jpeg" alt="Apple iPhone" />
            </div>
            <div class="repair-content__text-container">
                <h2 class="repair-content__title font-semibold">
                    Ремонтуємо телевізори всіх типів: LCD, LED, OLED, QLED.
                </h2>
                <p class="repair-content__description">
                    Усуваємо проблеми з підсвіткою, живленням, зображенням, прошивками.
                </p>
                <ul class="repair-content__features">
                    <li>
                        <svg width="20"
                             height="20"
                             viewBox="0 0 20 20"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.6668 5.83301L7.50016 14.9997L3.3335 10.833"
                                  stroke="#28a745"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </svg>
                        <span>
                            <strong class="font-semibold">Оригінальні запчастини</strong> —
                            використовуємо тільки сертифіковані та якісні комплектуючі.
                        </span>
                    </li>
                    <li>
                        <svg width="20"
                             height="20"
                             viewBox="0 0 20 20"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.6668 5.83301L7.50016 14.9997L3.3335 10.833"
                                  stroke="#28a745"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </svg>
                        <span>
                            <strong class="font-semibold">Професійні майстри</strong> —
                            досвідчені спеціалісти з багаторічною практикою.
                        </span>
                    </li>
                    <li>
                        <svg width="20"
                             height="20"
                             viewBox="0 0 20 20"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.6668 5.83301L7.50016 14.9997L3.3335 10.833"
                                  stroke="#28a745"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </svg>
                        <span>
                            <strong class="font-semibold">Швидкий ремонт</strong> —
                            більшість робіт виконуємо в день звернення.
                        </span>
                    </li>
                </ul>
                <a asp-area="User" asp-controller="Application" asp-action="Help" for="order-repair-modal"
                       class="repair-content__button primary_button">
                    Здати в ремонт
                </a>
            </div>
        </section>

        <section class="repair-prices">
            <h2 class="repair-prices__title heading_2 font-semibold">Ціни</h2>

            <div class="repair-prices__table-container desktop-only">
                <table>
                    <thead>
                        <tr>
                            <th>Послуга</th>
                            <th>Ціна</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>Заміна підсвітки</td><td>від 1500 грн</td></tr>
                        <tr><td>Ремонт блоку живлення</td><td>від 700 грн</td></tr>
                        <tr><td>Відновлення блоку живлення</td><td>від 1600 грн</td></tr>
                        <tr><td>Ремонт плати</td><td>від 1100 грн</td></tr>
                        <tr><td>Перепрошивка</td><td>від 800 грн</td></tr>
                        <tr><td>Діагностика</td><td>БЕЗКОШТОВНО</td></tr>
                        <tr><td>Інша проблема</td><td>Від 180 грн</td></tr>
                    </tbody>
                </table>

            </div>

            <div class="repair-prices__table-container mobile-only">
                <table>
                    <thead>
                        <tr>
                            <th>Послуга</th>
                            <th>Ціна</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>Заміна підсвітки</td><td>від 1500 грн</td></tr>
                        <tr><td>Ремонт блоку живлення</td><td>від 700 грн</td></tr>
                        <tr><td>Відновлення блоку живлення</td><td>від 1600 грн</td></tr>
                        <tr><td>Ремонт плати</td><td>від 1100 грн</td></tr>
                        <tr><td>Перепрошивка</td><td>від 800 грн</td></tr>
                        <tr><td>Діагностика</td><td>БЕЗКОШТОВНО</td></tr>
                        <tr><td>Інша проблема</td><td>Від 180 грн</td></tr>
                    </tbody>
                </table>
            </div>

            <p class="repair-prices__disclaimer">
                Зверніть увагу, що ціни можуть змінюватись, тому уточнюйте актуальні
                ціни перед оформленням замовлення
            </p>
        </section>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>
