@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Принтери</h1>

    <div class="image_company_logo">
        <div class="company_logo_container">
            <img src="/img/company_logo/canon.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/hp.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/brother.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/epson.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/kyocera.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/lexmark.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/panasonic.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/ricoh.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/samsung.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/xerox.png"><br>
        </div>


    </div>
    <br>
    <div class="full-width-section">
        <!--

        <img src="~/img/devices/computer.png" class="side-icon left-icon">

        -->
        <h2 style="font-size: 24px; color: #EDCE63;">Маєте запитання по ремонту й вартості? Подзвоніть нам!</h2>
        <br>
        <div style="display: flex; justify-content: center;">
            <a asp-controller="Home" asp-action="Contacts" style="
                background-color: #EDCE63;
                border: 2px solid #FFD740;
                padding: 10px 20px;
                font-size: 18px;
                cursor: pointer;
                border-radius: 10px;
                text-decoration: none;
                color: black;
                font-weight: bold;
                text-align: center;
            ">
                Контакти
            </a>
        </div>
    </div>
    <br>
    <br>


    <div style="background-color: #282828; padding: 40px; border-radius: 10px; width: 100%; max-width: 800px; margin: auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h3 style="font-size: 28px; text-align: center; color: #EDCE63; margin-bottom: 20px; font-weight: bold;">
            Наші послуги включають:
        </h3>
        <ul style="list-style: none; padding: 0; margin: 0;">
            <li style="padding: 10px; font-size: 18px; color: #EDCE63; display: flex; align-items: center;">
                ✔️ Діагностика
            </li>
            <li style="padding: 10px; font-size: 18px; color: #EDCE63; display: flex; align-items: center;">
                ✔️ Заміна несправних деталей та комплектуючих
            </li>
            <li style="padding: 10px; font-size: 18px; color: #EDCE63; display: flex; align-items: center;">
                ✔️ Ремонт механічних деталей
            </li>
            <li style="padding: 10px; font-size: 18px; color: #EDCE63; display: flex; align-items: center;">
                ✔️ Ремонт кнопок
            </li>
            <li style="padding: 10px; font-size: 18px; color: #EDCE63; display: flex; align-items: center;">
                ✔️ Заправка картриджив
            </li>
            <li style="padding: 10px; font-size: 18px; color: #EDCE63; display: flex; align-items: center;">
                ✔️ Встановлення програмного забезпечення
            </li>
        </ul>
    </div>
    <br>
    <br>
    <h2>Ціни на ремонт принтерів</h2>
    <table>
        <thead>
            <tr>
                <th>Проблема</th>
                <th>Рішення</th>
                <th>Ціна (грн)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="problem" rowspan="2">Довго стояв без чорнил / обслуговування</td>
                <td>Чистка друкуючої головки</td>
                <td>800</td>
            </tr>
            <tr>
                <td>Заміна прокладок</td>
                <td>350</td>
            </tr>
            <tr>
                <td class="problem" rowspan="2">Переповнений абсорбер</td>
                <td>Заміна абсорбера</td>
                <td>800</td>
            </tr>
            <tr>
                <td>Вивід відпрацьованих чорнил</td>
                <td>350</td>
            </tr>
            <tr>
                <td class="problem" rowspan="3">Заминання паперу</td>
                <td>Усунення перешкод у подачі</td>
                <td>450-520</td>
            </tr>
            <tr>
                <td>Ремонт механізму подачі</td>
                <td>550-700</td>
            </tr>
            <tr>
                <td>Заміна деталей механізму</td>
                <td>100-500</td>
            </tr>
            <tr>
                <td class="problem">Відновлення прошивки</td>
                <td>Перепрошивка принтера</td>
                <td>850-1500</td>
            </tr>
        </tbody>
    </table>
    
    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">
        <h4>Повернутися на головну</h4>
    </a>
</div>
