@model TehnokratProject.Models.Feedback

<h2> Редагування даних відгуку </h2>

<form asp-action="EditPost" asp-controller="Feedback">
    <p>
        <label asp-for="id">Id</label><br />
        <input type="text" asp-for="id" />
    </p>
    <p>
        <label asp-for="author_name">Ім'я</label><br />
        <input type="text" asp-for="author_name" />
    </p>
    <p>
        <label asp-for="author_email">email</label><br />
        <input type="text" asp-for="author_email" />
    </p>
    <p>
        <label asp-for="text">Teкст</label><br />
        <input type="text" asp-for="text" />
    </p>
    <p>
        <label asp-for="rating">Оцінка</label><br />
        <input type="text" asp-for="rating" />
    </p>
   
    <p>
        <input type="submit" value="Зберегти" />
    </p>

</form>

<form asp-action="index" asp-controller="clients">
    <input type="submit" value="Назад" />
</form>