body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EDCE63;
}

header, footer {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    flex: 1;
    padding: 20px;
}

.description, .services {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
}

nav {
    background-color: #EDCE63;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #282828;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #282828;
    color: white;
}

iframe {
    display: block;
    margin: 0 auto;
}

li {
    text-align: left;
}

.image_devices_gallery, .image_company_logo {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.image_devices_gallery {
    grid-template-columns: repeat(3, 1fr);
}

.image_company_logo {
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.company_logo_container {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

    .company_logo_container img {
        max-width: 80%;
        height: 150px;
        width: 150px;
        object-fit: contain;
        transition: transform 0.5s ease-in-out;
    }

        .company_logo_container img:hover {
            transform: scale(1.2);
        }

.main_logo_img {
    max-width: 100%;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    transition: none;
}

img {
    width: 200px;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 10px;
    transition: transform 0.5s ease-in-out;
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes scaleDown {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

img:hover {
    animation: scaleUp 0.2s forwards;
}

img:not(:hover) {
    animation: scaleDown 0.2s forwards;
}

a {
    text-decoration: none;
    color: #282828;
}

    a:hover {
        text-decoration: underline;
    }

.navbar {
    background-color: #EDCE63 !important;
   
}

.navbar-nav .nav-link {
    font-size: 1.8rem;
    margin: 20px
}
