body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EDCE63;
}

header {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    flex: 1;
    padding: 20px;
}

.description, .services {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #282828;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #282828;
    color: white;
}

iframe {
    display: block;
    margin: 0 auto;
}

h3{
    text-align:center;
}

footer {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}

li {
    text-align:left;
}

nav {
    background-color: #EDCE63;
}


/* Стили для блока с изображениями в два столбца */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 столбца */
    gap: 20px; /* расстояние между элементами */
    padding: 20px;
}

.image-item {
    text-align: center;
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #F4D78B;
}

a:hover {
    text-decoration: underline;
}

.a {
    padding: 30px; /* Збільшений відступ між елементами */
}

.navbar-nav .nav-link {
    font-size: 1.8rem; /* Збільшений розмір шрифту */
   
}

.navbar {
    background-color: #EDCE63 !important; /* Фон для навігаційної панелі */
}