@import "../../components/variables";

.accordion-container {
  margin-top: $spacing-xxxl;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  .title {
    font-size: 24px;
    font-weight: 700;
  }

  .accordion-container__items {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

.accordion-item {
  margin-bottom: $spacing-xs;
  border-radius: $border-radius-sm;
  overflow: hidden;
  border: 1px solid $color-bg-medium;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $spacing-sm $spacing-md;
  background-color: $color-bg-light;
  color: $color-text;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: $border-radius-sm;
  border-bottom: none;
  position: relative;
  transition: border-radius 0.3s ease;

  .accordion-arrow {
    transition: transform 0.3s ease;
    stroke: $color-text;
  }
}

.accordion-content {
  padding: 0 $spacing-md $spacing-sm $spacing-md;
  background-color: $color-bg-light;
  color: $color-text;
  max-height: 0;
  overflow: hidden;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.3s ease, padding-top 0.3s ease,
    padding-bottom 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  font-size: 14px;
  border-bottom-left-radius: $border-radius-sm;
  border-bottom-right-radius: $border-radius-sm;

  p {
    padding-bottom: $spacing-xl;
  }

  .price-row {
    display: flex;
    justify-content: space-between;
    padding: $spacing-sm 0;
    border-bottom: 1px solid $color-bg-medium;

    &:last-child {
      border-bottom: none;
    }

    span:first-child {
      flex-grow: 1;
      padding-right: $spacing-sm;
      opacity: 0.9;
    }
    span:last-child {
      font-weight: 600;
      white-space: nowrap;
    }
  }
}

.accordion-item.active {
  .accordion-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid $color-bg-medium;

    .accordion-arrow {
      transform: rotate(180deg);
    }
  }
  .accordion-content {
    max-height: 500px;
    padding-top: $spacing-sm !important;
    padding-bottom: $spacing-sm !important;
    opacity: 1;
    visibility: visible;
  }
}
