@model TehnokratProject.Models.Category


<h2> Додати категорію </h2>

<form asp-action="Create" asp-controller="Category">
    <p>
        <label asp-for="title">Назва</label><br />
        <input type="text" asp-for="title" required />
    </p>
    <p>
        <label asp-for="description">Опис</label><br />
        <textarea asp-for="description" required></textarea>
    </p>
    <p>
        <input type="submit" value="Створити" />
    </p>
</form>

<form asp-action="index" asp-controller="product">
    <input type="submit" value="Назад" />
</form>