@model TehnokratProject.Models.Category

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2> Додати категорію </h2>

<form asp-action="Create" asp-controller="Category">
    <p>
        <label asp-for="title">Назва</label><br />
        <input type="text" asp-for="title" />
    </p>
    <p>
        <label asp-for="description">Опис</label><br />
        <input type="text" asp-for="description" />
    </p>
   @*  <p>
        <textarea placeholder="Напишіть відгук тут" asp-for="text"></textarea>
    </p> *@
    <p>
        <input type="submit" value="Створити" />
    </p>
</form>

<form asp-action="index" asp-controller="product">
    <input type="submit" value="Назад" />
</form>