@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h3>Увійти як адміністратор сайту</h3>
    <p>Login</p>
    <input type="text" />
    <p>Password</p>
    <input type="text" />
    <br />
    <button type="submit">Увійти</button>
</form>

