@model TehnokratProject.Models.ContactForm
@{
    
    ViewData["PageCss"] = "home.css";
}
<head>
   
    <title>Форма замовлення</title>
    <style>
        .form-container {
            max-width: 1000px;
            margin: 0 auto;
            padding-block: 64px;
        }

            .form-container h2 {
                text-align: center;
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 30px;
            }

            /* Підзаголовок / опис */
            .form-container p {
                text-align: center;
                color: #333;
                margin-bottom: 30px;
            }
    </style>
</head>
<body>
    
    <partial name="_ValidationScriptsPartial" />
    <form class="form-modal" asp-action="Help" asp-controller="Application">
        
        <h3 class="title" 3> Бажаєте замовити ремонт чи проконсультуватись з майстром - легко!</h3>
        <p class="desc">
            Залиште свої контакти, і наш спеціаліст зв'яжеться з вами найближчим часом
        </p>

        <span asp-validation-for="name" style="width:400px; margin:auto;" class="text-danger"></span>
        <label style="width:400px; margin:auto;" asp-for="name" class="label">Ім'я<input asp-for="name" type="text" style="width:400px; margin:auto;" class="input" /></label>
        <br>
        <span asp-validation-for="phone" style="width:400px; margin:auto;" class="text-danger"></span>
        <label style="width:400px; margin:auto;" asp-for="phone" class="label">Телефон<input asp-for="phone" pattern="^\+380\d{9}$" title="Формат: +380XXXXXXXXX" type="tel" style="width:400px; margin:auto;" class="input" /></label>
        <br>
        <label asp-for="comment" style="width:400px; margin:auto;" class="label">
            Коментар до замовлення
            <textarea asp-for="comment" rows="4" data-val="false" style="width:400px; margin:auto;" class="textarea"></textarea>
        </label>

        <button type="submit" class="primary_button">Замовити товар</button>
        <br>
        <br>
    </form>
   
</body>