@model TehnokratProject.Areas.Admin.ViewModels.ProductCreateViewModel

<h2> Додавання нового товару</h2>
<br>

<form asp-action="Create" asp-controller="Product" enctype="multipart/form-data">
    <p>
        <label asp-for="title">Назва</label><br />
        <input type="text" asp-for="title" />
    </p>
    <p>
        <label asp-for="brand">Бренд</label><br />
        <select asp-for="brand" asp-items="@(new SelectList(Model.BrandOptions))">
            <option value="">-- Оберіть бренд --</option>
        </select>
        <span asp-validation-for="brand" class="text-danger"></span>
    </p>
    <p>
        <label asp-for="description">Опис</label><br />
        <textarea placeholder="Напишіть опис тут" asp-for="description" style="width: 80%; height: 150px;"></textarea>
    </p>
    <p>
        <label asp-for="price">Ціна</label><br />
        <input type="number" asp-for="price" />
    </p>
    <p>
        <label asp-for="state">Стан</label><br />
        <select asp-for="state" asp-items="@(new SelectList(Model.StateOptions))">
            <option value="">-- Стан --</option>
        </select>
        <span asp-validation-for="state" class="text-danger"></span>
    </p>
    <p>
        <label>Зображення:</label>
        <br>
        <input type="file" name="ImageFiles" multiple /><br />
    </p>
    <p>
        <label asp-for="category_id">Категорія</label>
        <br>
        <select asp-for="category_id" asp-items="@(new SelectList(Model.Categories, "id", "title"))">
            <option value="">-- Оберіть категорію товарів --</option>
        </select>
        <span asp-validation-for="category_id" class="text-danger"></span>
    </p>
    <br></br>
    <p>
        <input type="submit" value="Додати товар" class="btn btn-add" />
    </p>
    <br></br>
</form>

<form asp-action="index" asp-controller="Product">
    <input type="submit" value="Назад" />
</form>