@model TehnokratProject.Areas.Admin.ViewModels.ProductCreateViewModel

<h2> Додати товар </h2>

@*  public string title { get; set; }
        public int category_id { get; set; }
        public string description { get; set; }
        public int price { get; set; }
        public bool status { get; set; }
        public string image_path { get; set; } *@


<form asp-action="Create" asp-controller="Product">
    <p>
        <label asp-for="title">Назва</label><br />
        <input type="text" asp-for="title" />
    </p>
    <p>
        <label asp-for="description">Опис</label><br />
        <textarea placeholder="Напишіть опис тут" asp-for="description"></textarea>
    </p>
    <p>
        <label asp-for="price">Ціна</label><br />
        <input type="number" asp-for="price" />
    </p>
    @* <p>
        <label asp-for="rating">Оцініть нас від 1 до 5</label><br />
        <input type="number" asp-for="rating" />
    </p> *@

    <p>
        <label asp-for="category_id">Category</label><br />
        <select asp-for="category_id" asp-items="@(new SelectList(Model.Categories, "id", "title"))">
            <option value="">-- Оберіть категорію товарів --</option>
        </select>
        <span asp-validation-for="category_id" class="text-danger"></span>
    </p>

    <p>
        <input type="submit" value="Додати товар" />
    </p>
</form>

<form asp-action="index" asp-controller="Product">
    <input type="submit" value="Назад" />
</form>