@model TehnokratProject.Areas.Admin.ViewModels.ProductUpdateViewModel

<h2> Редагування даних товару </h2>
<br>

<form asp-action="Edit" method="post" asp-controller="Product" enctype="multipart/form-data">
    
    <p>
        <label asp-for="title">Назва</label><br />
        <input type="text" asp-for="title" />
    </p>
    <p>
        <label asp-for="brand">Бренд</label><br />
        <select asp-for="brand" asp-items="@(new SelectList(Model.BrandOptions))">
            <option value="">-- Оберіть бренд --</option>
        </select>
        <span asp-validation-for="brand" class="text-danger"></span>
    </p>
    <p>
        <label asp-for="description">Опис</label><br />
        <textarea placeholder="Напишіть опис тут" asp-for="description" style="width: 80%; height: 150px;"></textarea>
    </p>
    <p>
        <label asp-for="quantity">Кількість</label><br />
        <input type="number" asp-for="quantity" />
    </p>
    <p>
        <label asp-for="price">Ціна</label><br />
        <input type="number" asp-for="price" />
    </p>
    <p>
        <label asp-for="status">Статус</label><br />
        <input type="checkbox" asp-for="status" />
        <span asp-validation-for="status" class="text-danger"></span>
    </p>
    <p>
        <label asp-for="state">Стан</label><br />
        <select asp-for="state" asp-items="@(new SelectList(Model.StateOptions))">
            <option value="">-- Стан --</option>
        </select>
        <span asp-validation-for="state" class="text-danger"></span>
    </p>
    <p>
        <label>Зображення:</label>
        <br>
        <input asp-for="ImageFile" type="file" /><br>
    </p>

    <p>
        <input type="submit" value="Зберегти" class="btn btn-add" />
    </p>
    <br></br>
</form>

<form asp-action="index" asp-controller="product">
    <input type="submit" value="Назад" />
</form>