@model TehnokratProject.Models.Product

<h2> Редагування даних товару </h2>

<form asp-action="EditPost" asp-controller="Product">
    <p>
        <label asp-for="id">Id</label><br />
        <input type="text" asp-for="id" />
    </p>
    <p>
        <label asp-for="title">Назва</label><br />
        <input type="text" asp-for="title" />
    </p>
    <p>
        <label asp-for="description">Опис</label><br />
        <input type="text" asp-for="description" />
    </p>
    <p>
        <label asp-for="price">Ціна</label><br />
        <input type="number" asp-for="price" />
    </p>
    <p>
        <label asp-for="status">Статус</label><br />
        <input type="checkbox" asp-for="status" />
        <span asp-validation-for="status" class="text-danger"></span>
    </p>
    <p>
        <input type="submit" value="Зберегти" />
    </p>

</form>

<form asp-action="index" asp-controller="clients">
    <input type="submit" value="Назад" />
</form>