@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо на сайті Tehnokrat</h1>
    
   

    <h2>Про нас</h2>
    <p>Наш сервісний центр пропонує широкий спектр послуг з ремонту мобільних телефонів, ноутбуків, принтерів, телевізорів та продажу аксесуарів для мобільних телефонів у місті Бровари. Ми маємо професійний колектив фахівців, які мають великий досвід роботи з різними марками техніки. Наші майстри проводять діагностику та ремонт пристроїв будь-якої складності, замінюють пошкоджені екрани, батареї, зарядні пристрої, а також виконують інші види ремонту. Ми гарантуємо високу якість робіт та використання тільки якісних запчастин. Також в нашому магазині ви можете придбати різноманітні аксесуари для мобільних телефонів, такі як захисне скло, чохли, захисні плівки, зарядні пристрої, кабелі та багато іншого. Ми пропонуємо широкий асортимент товарів з різних брендів за доступними цінами. Зверніться до нас і ми з радістю допоможемо вам відновити роботу вашого пристрою або підібрати необхідний аксесуар для нього. Наша мета - задоволення потреб клієнтів та створення довгострокових взаємовигідних відносин.</p>
    <h2>Ми ремонтуємо</h2>
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Laptop">Ноутбуки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Phone">Телефони</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="PC">Комп'ютери</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Tablet">Планшети</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="TV">Телевізори</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Printer">Принтери</a>
        </li>
    </ul>
    <a class="nav-link text-dark" asp-controller="Home" asp-action="Contacts">Контакти</a>


</div>
