@{
    ViewData["Title"] = "Ноутбуки";
}

<div class="text-center">
    <h1 class="display-4">Ноутбуки</h1>
    <p>
        Вітаємо на сайті професійного сервісного центру з ремонту ноутбуків у Броварах!

        Наші майстри мають багаторічний досвід у відновленні роботи ноутбуків різних виробників, від найпростіших до найскладніших поломок. Ми гарантуємо якість наших послуг, оскільки використовуємо тільки оригінальні запчастини та сучасне обладнання для діагностики та ремонту ноутбуків.
    </p>
    <h3>
        Ми працюємо з:
    </h3>

    <ul>
        <li>Dell</li>
        <li>Acer</li>
        <li>Asus</li>
        <li>Sony</li>
        <li>Toshibo</li>
        <li>Samsung</li>
        <li>Lenovo</li>
        <li>HP</li>
        <li>Та інші</li>
        <!--TODO-->
    </ul>
    
    <h3>
       
        Наші послуги включають:
    </h3>
    <ul>
        <li>Заміна дисплея</li>
        <li>Ремонт клавіатури та тачпаду</li>
        <li>Відновлення роботи системи охолодження</li>
        <li>Заміна акумулятора</li>
        <li>Відновлення роботи жорсткого диска</li>
        <li>Відновлення роботи материнської плати</li>

        <!--TODO-->
    </ul>
    
    <a asp-controller="Home" asp-action="Index">Повернутися на головну</a>

</div>
