@{
    ViewData["Title"] = "Ноутбуки";
}

<div class="text-center">
    <h1 class="display-4">Ноутбуки</h1>
    <p>
        Вітаємо на сайті професійного сервісного центру з ремонту ноутбуків у Броварах!

        Наші майстри мають багаторічний досвід у відновленні роботи ноутбуків різних виробників, від найпростіших до найскладніших поломок. Ми гарантуємо якість наших послуг, оскільки використовуємо тільки оригінальні запчастини та сучасне обладнання для діагностики та ремонту ноутбуків.
    </p>
    <h3>
        Ми працюємо з:
    </h3>

    <ul>
        <li>Dell</li>
        <li>Acer</li>
        <li>Asus</li>
        <li>Sony</li>
        <li>Toshibo</li>
        <li>Samsung</li>
        <li>Lenovo</li>
        <li>HP</li>
        <li>Та інші</li>
        <!--TODO-->
    </ul>
    
    <h3>
       
        Наші послуги включають:
    </h3>
    <ul>
        <li>Заміна дисплея</li>
        <li>Ремонт клавіатури та тачпаду</li>
        <li>Відновлення роботи системи охолодження</li>
        <li>Заміна акумулятора</li>
        <li>Відновлення роботи жорсткого диска</li>
        <li>Відновлення роботи материнської плати</li>

        <!--TODO-->
    </ul>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ціни на ремонт ноутбуків</title>


    <h2>Ціни на ремонт ноутбуків</h2>

    <table>
        <tr>
            <th>Проблема</th>
            <th>Рішення</th>
            <th>Ціна (грн)</th>
        </tr>
        <tr>
            <td rowspan="4">Ноутбук не вмикається</td>
            <td>Діагностика</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Заміна роз'єму живлення</td>
            <td>від 1800</td>
        </tr>
        <tr>
            <td>Заміна процесора</td>
            <td>від 2000</td>
        </tr>
        <tr>
            <td>Заміна чипа матриці</td>
            <td>500</td>
        </tr>
        <tr>
            <td>Не працює клавіатура</td>
            <td>Заміна клавіатури</td>
            <td>від 380</td>
        </tr>
        <tr>
            <td rowspan="2">Проблеми з матрицею ноутбука</td>
            <td>Заміна матриці</td>
            <td>від 2000</td>
        </tr>
        <tr>
            <td>Діагностика</td>
            <td>-</td>
        </tr>
        <tr>
            <td rowspan="3">Синій екран або помилки</td>
            <td>Налаштування ПЗ</td>
            <td>безкоштовно</td>
        </tr>
        <tr>
            <td>Перевірка жорсткого диска</td>
            <td>від 1600</td>
        </tr>
        <tr>
            <td>Діагностика комплектуючих</td>
            <td>450</td>
        </tr>
        <tr>
            <td rowspan="3">Ноутбук не заряджається</td>
            <td>Заміна контролера живлення</td>
            <td>від 450</td>
        </tr>
        <tr>
            <td>Ремонт плати</td>
            <td>від 1200</td>
        </tr>
        <tr>
            <td>Заміна гнізда зарядки</td>
            <td>від 400</td>
        </tr>
        <tr>
            <td rowspan="2">Повільна робота ноутбука</td>
            <td>Перевірка жорсткого диска</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Налаштування ПЗ</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Інші проблеми</td>
            <td>Діагностика</td>
            <td>-</td>
        </tr>
    </table>
    <a asp-controller="Home" asp-action="Index">Повернутися на головну</a>

</div>
