@{
    ViewData["Title"] = "Комп'ютери";
}

<div class="text-center">
    <h1 class ="display-4">Комп'ютери</h1>
    <p>
        Вітаємо на сайті компанії, яка займається ремонтом комп’ютерів в місті Бровари!

        Наші професійні майстри готові надати якісний та швидкий сервіс з ремонту комп’ютерів будь-якої складності. Ми знаємо, наскільки важливо для вас зберігати свої дані та робочі документи, тому гарантуємо повну конфіденційність та безпеку ваших даних.
    </p>
    <h3>
        Наші послуги включають:
    </h3>
    <ul>
        <li>Діагностику</li>
        <li>Заміну несправних деталей та комплектуючих</li>
        <li>Відновлення роботи системи охолодження</li>
        <li>Відновлення роботи оперативної пам’яті</li>
        <li>Відновлення роботи жорсткого диска</li>
        <li>Встановлення програмного забезпечення</li>
        <li>встановлення антивірусного захисту та захисту від шкідливих програм.</li>
        <li>Відновлення роботи материнської плати</li>

        <!--TODO-->
    </ul>
   
    <a asp-controller="Home" asp-action="Index">Повернутися на головну</a>
</div>
