@{
    ViewData["Title"] = "Телефони";
}

<div class="text-center">
    <h1 class="display-4">Телефони</h1>
    <p>
        Вітаємо на нашому сайті, де ми пропонуємо послуги з ремонту телефонів у місті Бровари.
        Наша компанія має багаторічний досвід у відновленні мобільних пристроїв різних марок і моделей.

        Ми використовуємо тільки якісні запчастини та сучасне обладнання, щоб забезпечити максимально швидкий та якісний ремонт вашого пристрою.
        Крім того, ми пропонуємо досить доступні ціни на наші послуги та гарантуємо високу якість виконання робіт.
        Якщо у вас виникли будь-які проблеми з вашим телефоном, не вагайтеся звертатися до нас. Наші кваліфіковані фахівці з радістю допоможуть вам відновити роботу вашого мобільного пристрою в якнайкоротший термін. Зверніться до нас зараз, і ми зробимо все можливе, щоб ви знову могли насолоджуватися роботою свого телефону!
        Сучасний мобільний телефон не лише засіб зв’язку, а й мікрокомп’ютер, який завжди під рукою. Минули роки, коли телефон у Броварах був лише домашнім. Різноманітні моделі мобільних телефонів потребують обслуговування та ремонту у Броварах. Навіть найпростіший телефон може невдало впасти, тоді ми виконаємо для Вас заміну корпусу телефону або заміну роз’єму для заряджання. У разі необхідності заміни екрана, що тріснув, — з легкістю замовимо необхідну модель і зробимо професійну заміну екрана телефону, смартфона або планшета в Броварах.
        Наші майстри зможуть швидко вирішити такі складні проблеми, як заміна контролера живлення телефону, заміна модуля Wi-Fi та інші проблеми з платою телефону. Ремонт телефонів (Бровари) у нашому сервісному центрі проводиться якісно та в максимально короткі терміни.
    </p>
    <h3>
        Наші послуги включають:
    </h3>
    <ul>
        <li>Діагностику</li>
        <li>Заміну несправних деталей та комплектуючих</li>
        <li>Ремонт екрану</li>
        <li>Ремонт кнопок</li>
        <li>Ремонт камери</li>
        <li>Ремонт акумулятору</li>
        <li>Заміна гнізда зарядки</li>
        <li>Ремонт тачскрина</li>
        <li>Встановлення програмного забезпечення</li>
        <li>Встановлення антивірусного захисту та захисту від шкідливих програм.</li>
    </ul>
    

    <a asp-controller="Home" asp-action="Index">Повернутися на головну</a>
</div>
