@{
    ViewData["Title"] = "Телефони";
}

<div class="text-center">
    <h1 class="display-4">Телефони</h1>
    <p>
        Вітаємо на нашому сайті, де ми пропонуємо послуги з ремонту телефонів у місті Бровари.
        Наша компанія має багаторічний досвід у відновленні мобільних пристроїв різних марок і моделей.

        Ми використовуємо тільки якісні запчастини та сучасне обладнання, щоб забезпечити максимально швидкий та якісний ремонт вашого пристрою.
        Крім того, ми пропонуємо досить доступні ціни на наші послуги та гарантуємо високу якість виконання робіт.
        Якщо у вас виникли будь-які проблеми з вашим телефоном, не вагайтеся звертатися до нас. Наші кваліфіковані фахівці з радістю допоможуть вам відновити роботу вашого мобільного пристрою в якнайкоротший термін.
        Сучасний мобільний телефон не лише засіб зв’язку, а й мікрокомп’ютер, який завжди під рукою. Наші майстри зможуть швидко вирішити такі складні проблеми, як заміна контролера живлення телефону, заміна модуля Wi-Fi та інші проблеми з платою телефону. Ремонт телефонів (Бровари) у нашому сервісному центрі проводиться якісно та в максимально короткі терміни.
    </p>
    <h3>
        Ми працюємо з:
    </h3>

    <ul>
        <li>Apple</li>
        <li>Samsung</li>
        <li>Xiaomi</li>
        <li>Huawei</li>
        <li>Oppo</li>
        <li>Vivo</li>
        <li>ZTE</li>
        <li>Meizu</li>
        <li>Doogee</li>
        <li>Tecno</li>
        <li>Realme</li>
        <li>Та інші</li>
        <!--TODO-->
    </ul>
    <h3>
        Наші послуги включають:
    </h3>
    <ul>
        <li>Діагностику</li>
        <li>Заміну несправних деталей та комплектуючих</li>
        <li>Ремонт екрану</li>
        <li>Ремонт кнопок</li>
        <li>Ремонт камери</li>
        <li>Ремонт акумулятору</li>
        <li>Заміна гнізда зарядки</li>
        <li>Ремонт тачскрина</li>
        <li>Встановлення програмного забезпечення</li>
        <li>Встановлення антивірусного захисту та захисту від шкідливих програм.</li>
    </ul>
    

    <a asp-controller="Home" asp-action="Index">Повернутися на головну</a>
</div>
