@{
    ViewData["Title"] = "Телефони";
}

<div class="text-center">
    <h1 class="display-4">Телефони</h1>
    <p>Текст про телефони</p>

    <a asp-controller="Home" asp-action="Index">Повернутися на головну</a>
</div>
