@{
    ViewData["Title"] = "Телефони";
}

<div class="text-center">
    <h1 class="display-4">Телефони</h1>
    <h3>
        Ми працюємо з:
    </h3>

    <ul>
        <li>Apple</li>
        <li>Samsung</li>
        <li>Xiaomi</li>
        <li>Huawei</li>
        <li>Oppo</li>
        <li>Vivo</li>
        <li>ZTE</li>
        <li>Meizu</li>
        <li>Doogee</li>
        <li>Tecno</li>
        <li>Realme</li>
        <li>Та інші</li>
        <!--TODO-->
    </ul>
    <h3>
        Наші послуги включають:
    </h3>
    <ul>
        <li>Діагностику</li>
        <li>Заміну несправних деталей та комплектуючих</li>
        <li>Ремонт екрану</li>
        <li>Ремонт кнопок</li>
        <li>Ремонт камери</li>
        <li>Ремонт акумулятору</li>
        <li>Заміна гнізда зарядки</li>
        <li>Ремонт тачскрина</li>
        <li>Встановлення програмного забезпечення</li>
        <li>Встановлення антивірусного захисту та захисту від шкідливих програм.</li>
    </ul>

    <h2>Ціни на ремонт телефонів</h2>

    <table>
        <tr>
            <th>Проблема</th>
            <th>Рішення</th>
            <th>Ціна (грн)</th>
        </tr>
        <tr>
            <td rowspan="3">Телефон не заряджається</td>
            <td>Заміна роз'єму живлення</td>
            <td>400</td>
        </tr>
        <tr>
            <td>Заміна нижнього шлейфа</td>
            <td>650</td>
        </tr>
        <tr>
            <td>Заміна контролера живлення</td>
            <td>1200</td>
        </tr>
        <tr>
            <td>Розбитий екран телефону</td>
            <td>Заміна екрана</td>
            <td>від 1000</td>
        </tr>
        <tr>
            <td>Телефон завис на заставці</td>
            <td>Прошивка телефону</td>
            <td>300</td>
        </tr>
        <tr>
            <td rowspan="2">Погано чути звук</td>
            <td>Чистка динаміка</td>
            <td>50-100</td>
        </tr>
        <tr>
            <td>Заміна динаміка</td>
            <td>450</td>
        </tr>
        <tr>
            <td>Телефон швидко розряджається</td>
            <td>Заміна батареї</td>
            <td>900</td>
        </tr>
        <tr>
            <td rowspan="2">Не працює камера телефону</td>
            <td>Заміна камери</td>
            <td>від 500</td>
        </tr>
        <tr>
            <td>Заміна контролера фото</td>
            <td>1200</td>
        </tr>
        <tr>
            <td>Утопили телефон</td>
            <td>Чистка після води</td>
            <td>800</td>
        </tr>
        <tr>
            <td>Забули пароль від телефону</td>
            <td>Розблокування</td>
            <td>від 450</td>
        </tr>
        <tr>
            <td>Телефон не вмикається</td>
            <td>Діагностика</td>
            <td>-</td>
        </tr>
    </table>


    <a asp-controller="Home" asp-action="Index">Повернутися на головну</a>
</div>
