@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Принтери</h1>

    <div class="image_company_logo">
        <div class="company_logo_container">
            <img src="/img/company_logo/canon.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/hp.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/brother.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/epson.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/kyocera.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/lexmark.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/panasonic.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/ricoh.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/samsung.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/xerox.png"><br>
        </div>


    </div>


    <h3>
        Наші послуги включають:
    </h3>
    <ul>
         
        <li>Діагностику</li>
        <li>Заміну несправних деталей та комплектуючих</li>
        <li>Налаштування програмного забезпечення</li>
        <li>Ремонт механічних деталей</li>
        <li>Заправка картриджив</li>
        <li>Наші фахівці зможуть вирішити будь-яку проблему з вашим принтером, незалежно від його моделі та марки</li>
        <!--TODO-->
    </ul>
    <h1>Таблиця проблем і рішень</h1>
    <table>
        <thead>
            <tr>
                <th>Проблема</th>
                <th>Рішення</th>
                <th>Ціна (грн)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="problem" rowspan="2">Довго стояв без чорнил / обслуговування</td>
                <td>Чистка друкуючої головки</td>
                <td>800</td>
            </tr>
            <tr>
                <td>Заміна прокладок</td>
                <td>350</td>
            </tr>
            <tr>
                <td class="problem" rowspan="2">Переповнений абсорбер</td>
                <td>Заміна абсорбера</td>
                <td>800</td>
            </tr>
            <tr>
                <td>Вивід відпрацьованих чорнил</td>
                <td>350</td>
            </tr>
            <tr>
                <td class="problem" rowspan="3">Заминання паперу</td>
                <td>Усунення перешкод у подачі</td>
                <td>450-520</td>
            </tr>
            <tr>
                <td>Ремонт механізму подачі</td>
                <td>550-700</td>
            </tr>
            <tr>
                <td>Заміна деталей механізму</td>
                <td>100-500</td>
            </tr>
            <tr>
                <td class="problem">Відновлення прошивки</td>
                <td>Перепрошивка принтера</td>
                <td>850-1500</td>
            </tr>
        </tbody>
    </table>
    
    <a asp-controller="Home" asp-action="Index">Повернутися на головну</a>
</div>
