@{
    ViewData["Title"] = "Планшети";
}

<div class="text-center">
    <h1 class="display-4">Планшети</h1>
    <h3>
        Ми працюємо з:
    </h3>

    <ul>
        <li>Apple</li>
        <li>Samsung</li>
        <li>Xiaomi</li>
        <li>Huawei</li>
        <li>Oppo</li>
        <li>Vivo</li>
        <li>ZTE</li>
        <li>Meizu</li>
        <li>Doogee</li>
        <li>Tecno</li>
        <li>Realme</li>
        <li>Та інші</li>
        <!--TODO-->
    </ul>
    <h3>
        Наші послуги включають:
    </h3>
    <ul>

        <li>Діагностику</li>
        <li>Заміну дисплея</li>
        <li>Заміну аккумулятора</li>
        <li>Заміну кнопок</li>
        <li>Ремонт плати</li>
        <li>Відновлення ПЗ та багато іншого</li>
        <li>Наші фахівці зможуть вирішити будь-яку проблему з вашим планшетом, незалежно від його моделі та марки</li>
        <!--TODO-->
    </ul>


    @* <table>
        <tr>
            <th>Проблема</th>
            <th>Рішення</th>
            <th>Ціна (грн)</th>
        </tr>
        <tr>
            <td rowspan="4">Ноутбук не вмикається</td>
            <td>Діагностика</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Заміна роз'єму живлення</td>
            <td>від 1800</td>
        </tr>
        <tr>
            <td>Заміна процесора</td>
            <td>від 2000</td>
        </tr>
        <tr>
            <td>Заміна чипа матриці</td>
            <td>500</td>
        </tr>
        <tr>
            <td>Не працює клавіатура</td>
            <td>Заміна клавіатури</td>
            <td>від 380</td>
        </tr>
        <tr>
            <td rowspan="2">Проблеми з матрицею ноутбука</td>
            <td>Заміна матриці</td>
            <td>від 2000</td>
        </tr>
        <tr>
            <td>Діагностика</td>
            <td>-</td>
        </tr>
        <tr>
            <td rowspan="3">Синій екран або помилки</td>
            <td>Налаштування ПЗ</td>
            <td>безкоштовно</td>
        </tr>
        <tr>
            <td>Перевірка жорсткого диска</td>
            <td>від 1600</td>
        </tr>
        <tr>
            <td>Діагностика комплектуючих</td>
            <td>450</td>
        </tr>
        <tr>
            <td rowspan="3">Ноутбук не заряджається</td>
            <td>Заміна контролера живлення</td>
            <td>від 450</td>
        </tr>
        <tr>
            <td>Ремонт плати</td>
            <td>від 1200</td>
        </tr>
        <tr>
            <td>Заміна гнізда зарядки</td>
            <td>від 400</td>
        </tr>
        <tr>
            <td rowspan="2">Повільна робота ноутбука</td>
            <td>Перевірка жорсткого диска</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Налаштування ПЗ</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Інші проблеми</td>
            <td>Діагностика</td>
            <td>-</td>
        </tr>
    </table> *@


    <table>
        <tr>
            <td width="454"><em>Вид  робіт</em></td>
            <td width="111"><em>Вартість, грн</em></td>
        </tr>
        <tr>
            <td>Заміна сенсора</td>
            <td>1000-2000</td>
        </tr>
        <tr>
            <td>Заміна модуля</td>
            <td>1500-4000</td>
        </tr>
        <tr>
            <td>Заміна екрану</td>
            <td>1500-5000</td>
        </tr>
        <tr>
            <td>Заміна динаміка/мікрофона</td>
            <td>600</td>
        </tr>
        <tr>
            <td>Заміна гнізда зарядки</td>
            <td>від 500</td>
        </tr>
        <tr>
            <td>Перепрошивка</td>
            <td>300</td>
        </tr>
        <tr>
            <td>Створення акаунту</td>
            <td>200</td>
        </tr>
        <tr>
            <td>Заміна акумулятора</td>
            <td>від 800</td>
        </tr>
        <tr>
            <td>Заміна камери</td>
            <td>від 800</td>
        </tr>
        <tr>
            <td>Перенос контактів</td>
            <td>200</td>
        </tr>
        <tr>
            <td>Ремонт мат. плати</td>
            <td>від 1000</td>
        </tr>
        <tr>
            <td>Поклейка захисного скла (зі склом)</td>
            <td>від 300</td>
        </tr>
    </table>
        
        
    
   


    <a asp-controller="Home" asp-action="Index">Повернутися на головну</a>
</div>
