@{
    ViewData["Title"] = "Планшети";
}

<div class="text-center">
    <h1 class="display-4">Планшети</h1>
    <p>
        Ласкаво просимо на сайт по ремонту планшетів в Броварах! Ми раді Вас бачити і готові надати якісний та швидкий сервіс з ремонту Вашого планшета.
        Наша команда професіоналів займається ремонтом планшетів будь-яких брендів і моделей. Ми пропонуємо широкий спектр послуг, включаючи заміну дисплея, аккумулятора, кнопок, ремонт плати, відновлення ПЗ та багато іншого.
        Ми розуміємо, як важливо мати працюючий планшет, тому пропонуємо швидкий та ефективний сервіс, який дозволить Вам повернути свій пристрій у робочий стан якнайшвидше.
        Ми використовуємо тільки якісні комплектуючі та сучасне обладнання для ремонту, що гарантує якість та надійність наших послуг.

    </p>
    


    <a asp-controller="Home" asp-action="Index">Повернутися на головну</a>
</div>
