@{
    ViewData["Title"] = "Планшети";
}

<div class="text-center">
    <h1 class="display-4">Планшети</h1>
    <h3>
        Ми працюємо з:
    </h3>

    <div class="image_company_logo">
        <div class="company_logo_container">
            <img src="/img/company_logo/apple.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/samsung.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/xiaomi.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/huawei.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/oppo.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/vivo.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/zte.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/meizu.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/doogee.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/techno.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/realme.png"><br>
        </div>


    </div>
    <h3>
        Наші послуги включають:
    </h3>
    <ul>

        <li>Діагностику</li>
        <li>Заміну дисплея</li>
        <li>Заміну аккумулятора</li>
        <li>Заміну кнопок</li>
        <li>Ремонт плати</li>
        <li>Відновлення ПЗ та багато іншого</li>
        <!--TODO-->
    </ul>


    <table>
        <tr>
            <th>Проблема</th>
            <th>Рішення</th>
            <th>Ціна (грн)</th>
        </tr>
        <tr>
            <td rowspan="3">Проблеми з сенсором</td>
            <td>Заміна сенсора</td>
            <td>1000-2000</td>
        </tr>
        <tr>
            <td>Заміна модуля</td>
            <td>1500-4000</td>
        </tr>
        <tr>
            <td>Перепрошивка</td>
            <td>300</td>
        </tr>
        <tr>
            <td rowspan="3">Проблеми з екраном</td>
            <td>Заміна екрану</td>
            <td>1500-5000</td>
        </tr>
        <tr>
            <td>Поклейка захисного скла (зі склом)</td>
            <td>від 300</td>
        </tr>
        <tr>
            <td>Заміна чипа матриці</td>
            <td>500</td>
        </tr>
        <tr>
            <td rowspan="2">Звукові проблеми</td>
            <td>Заміна динаміка/мікрофона</td>
            <td>600</td>
        </tr>
        <tr>
            <td>Заміна гнізда зарядки</td>
            <td>від 500</td>
        </tr>
        <tr>
            <td rowspan="2">Акаунт та контакти</td>
            <td>Створення акаунту</td>
            <td>200</td>
        </tr>
        <tr>
            <td>Перенос контактів</td>
            <td>200</td>
        </tr>
        <tr>
            <td rowspan="2">Живлення та акумулятор</td>
            <td>Заміна акумулятора</td>
            <td>від 800</td>
        </tr>
        <tr>
            <td>Ремонт мат. плати</td>
            <td>від 1000</td>
        </tr>
        <tr>
            <td>Заміна камери</td>
            <td>від 800</td>
        </tr>
    </table>

        
        
    
   


    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">
        <h4>Повернутися на головну</h4>
    </a>
</div>
