@{
    ViewData["Title"] = "Телевізори";
}

<div class="text-center">
    <h1 class="display-4">Телевізори</h1>
    <p>Текст про телевізори</p>

    <a asp-controller="Home" asp-action="Index">Повернутися на головну</a>
</div>
