@{
    ViewData["Title"] = "Телевізори";
}

<div class="text-center">
    <h1 class="display-4">Телевізори</h1>
    
    <p>
        Ласкаво просимо на сайт нашої компанії з ремонту телевізорів в Броварах! Ми — команда професіоналів, яка допоможе вам відновити роботу вашого телевізора в найкоротші терміни та за доступною ціною.

        Наші майстри мають великий досвід у ремонті телевізорів всіх марок та моделей. Ми швидко виявимо та виправимо будь-яку несправність, від заміни деталей до складних ремонтних робіт. У нашій майстерні ми використовуємо тільки якісні запчастини від провідних виробників, щоб гарантувати якість нашої роботи.

        Ми знаємо, що несправний телевізор — це справжнє нещастя. Тому ми пропонуємо швидкий та професійний сервіс, щоб ви могли насолоджуватися улюбленими передачами та фільмами якнайшвидше. Ми гарантуємо якість нашої роботи та надаємо гарантію на всі види ремонтів.

        Звертайтеся до нас з будь-якими проблемами з вашим телевізором, і ми з радістю вам допоможемо! Записуйтесь на ремонт за телефоном, який зазначений на нашому сайті, або завітайте до нашої майстерні в Броварах. Ми завжди раді бачити вас!
    </p>
    <h3>
        Наші послуги включають:
    </h3>
    <ul>
        <li>Заміна матриці</li>
        <li>Ремонт блоку живлення</li>
        <li>Відновлення ланцюгів живлення</li>
        <li>Ремонт плати</li>
        <li>Усунення технічних несправностей - зависання, тощо</li>
        <li>Заміна підсвітки телевізора</li>

        <!--TODO-->
    </ul>


    <a asp-controller="Home" asp-action="Index">Повернутися на головну</a>
</div>
