@{
    Layout = "_AdminLoginLayout";
}

<style>
    p {
        padding-left: 100px;
    }
    h2{
        padding-left: 50px;
    }

</style>
<h2> Увійти як адміністратор </h2>
<br></br>
<form asp-action="Login" method = "post">
    <p>
        <label for="username">Логін:</label><br />
        <input type="text" name="username" required />
    </p> 
    <p>
        <label for="password">Пароль:</label><br />
        <input type="text" name="password" required/>
    </p>
    <p>
        <input type="submit" value="Увійти" />
    </p>
</form>
