@{
    ViewData["Title"] = "Про нас";
    ViewData["PageCss"] = "about.css";
}

<body>  
    <main class="page">
        <div class="page-title-hero">
            <h1 class="page-title">
                Технократ — ваш надійний партнер у світі техніки
            </h1>
        </div>

        <div class="container">
            <div class="title_2">Наші переваги</div>
            <div class="hero__second_row">
                <div class="hero__second_row__item">
                    <div class="title_2 font-extra-bold">5+</div>
                    <div>
                        <p class="paragraph_3 font-semibold">років</p>
                        <p class="paragraph_3">досвіду ремонту техніки</p>
                    </div>
                </div>
                <div class="hero__second_row__item">
                    <div class="title_2 font-extra-bold">60-120</div>
                    <div>
                        <p class="paragraph_3 font-semibold">хвилин</p>
                        <p class="paragraph_3">середній час ремонту</p>
                    </div>
                </div>
                <div class="hero__second_row__item">
                    <div class="title_2 font-extra-bold">30</div>
                    <div>
                        <p class="paragraph_3 font-semibold">днів</p>
                        <p class="paragraph_3">гарантії</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="reviews-section">
            <div class="container">
                <div class="reviews-section__title">
                    <h2 class="title_2 font-semibold">Наші клієнти та відгуки</h2>
                </div>
                <div class="reviews-section__list">
                    <div class="reviews-section__card">
                        <div class="reviews-section__stars">
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                        </div>
                        <div class="reviews-section__text">
                            «Телевізор перестав вмикатись — звернулась сюди, і вже наступного дня все працювало. Приємно здивована!»
                            – Олена З., Дизайнерка
                        </div>
                        <div class="reviews-section__user">
                            <img class="reviews-section__user-avatar"
                                 src="/img/feedbacks/woman5.jpg"
                                 alt="Zeen Rai"
                                 loading="lazy" />
                        </div>
                    </div>
                    <div class="reviews-section__card">
                        <div class="reviews-section__stars">
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                        </div>
                        <div class="reviews-section__text">
                            «Дружелюбний персонал, якісне обслуговування. Замінили ролик у принтері, тепер друкує як новий!»
                            – Олексій Т., Підприємець
                        </div>
                        <div class="reviews-section__user">
                            <img class="reviews-section__user-avatar"
                                 src="/img/feedbacks/man4.jpg"
                                 alt="Zara M."
                                 loading="lazy" />
                        </div>
                    </div>
                    <div class="reviews-section__card">
                        <div class="reviews-section__stars">
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                            <img src="/assets/imgs/star-full.svg"
                                 alt="star"
                                 loading="lazy" />
                        </div>
                        <div class="reviews-section__text">
                            «Приніс ноутбук із проблемою запуску — все полагодили в той же день! Дуже дякую за оперативність та якість.»
                            – Андрій К., Програміст
                        </div>
                        <div class="reviews-section__user">
                            <img class="reviews-section__user-avatar"
                                 src="/img/feedbacks/man3.jpg"
                                 alt="Zeen Rai"
                                 loading="lazy" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="grid">
                <iframe class="desktop-only"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2537.188516917088!2d30.79074277673322!3d50.51205907160401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d9bd693fbde7%3A0xab272e693c18bdf4!2z0KLQtdGF0L3QvtC60YDQsNGC!5e0!3m2!1sen!2sua!4v1746614080513!5m2!1sen!2sua"
                        width="100%"
                        height="380"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>

                <div class="contact-info">
                    <h3 class="contact-info__title">Контакти</h3>
                    <iframe class="mobile-only"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2537.188516917088!2d30.79074277673322!3d50.51205907160401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d9bd693fbde7%3A0xab272e693c18bdf4!2z0KLQtdGF0L3QvtC60YDQsNGC!5e0!3m2!1sen!2sua!4v1746614080513!5m2!1sen!2sua"
                            width="100%"
                            height="380"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <div class="contact-info__list">
                        <div class="contact-info__item">
                            <p>
                                м. Бровари,<br class="mobile-only" />
                                вул. Незалежності, 2, СЦ «Технократ»
                            </p>
                        </div>
                        <div class="contact-info__item">
                            <p>ПН-ПТ: 10:00-18:00</p>
                        </div>
                        <div class="contact-info__item">
                            <p>
                                067-872-44-64 (Viber) <br />
                                066-200-77-84
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>
