@{
    ViewData["Title"] = "Головна";
    ViewData["PageCss"] = "home.css";
}

<html lang="uk">
    <main class="sections">
      <section class="hero">
        <div class="container">
          <div class="hero__first_row">
            <h1 class="title_1">Відновлення техніки з гарантією</h1>
            <div class="hero__first_row__img_container">
              <img
                class="hero__first_row__img"
                src="/assets/imgs/phone-hero.webp"
                alt="Phone large hero"
                fetchpriority="high"
              />
            </div>
          </div>

          <div class="hero__second_row">
            <div class="hero__second_row__item">
              <div class="title_2 font-extra-bold">5+</div>
              <div>
                <p class="paragraph_3 font-semibold">років</p>
                <p class="paragraph_3">досвіду ремонту техніки</p>
              </div>
            </div>
            <div class="hero__second_row__item">
              <div class="title_2 font-extra-bold">60-120</div>
              <div>
                <p class="paragraph_3 font-semibold">хвилин</p>
                <p class="paragraph_3">середній час ремонту</p>
              </div>
            </div>
            <div class="hero__second_row__item">
              <div class="title_2 font-extra-bold">30</div>
              <div>
                <p class="paragraph_3 font-semibold">днів</p>
                <p class="paragraph_3">гарантії</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="repair-steps">
        <div class="container">
          <div class="repair-steps__title">
            <p class="paragraph_1">Розрахуйте вартість ремонту</p>
            <button class="repair-steps__button">за 2 кроки</button>
          </div>
          <img
            class="repair-steps__arrow"
            src="/assets/imgs/circle-arrow-down.svg"
            alt="Circle arrow down"
            loading="lazy"
          />
        </div>
        <div class="repair-steps__devices">
          <p>Виберіть пристрій щоб дізнатися вартість ремонту</p>
          <div class="repair-steps__devices__device-list">
            <a
              href="/services"
              class="repair-steps__devices__device-list__item"
            >
              <img
                class="repair-steps__devices__device-list__item__icon"
                src="/assets/imgs/sections/repair-steps/phone.svg"
                alt="Phone"
                loading="lazy"
              />
              Смартфон
            </a>
            <a
              href="/services"
              class="repair-steps__devices__device-list__item"
            >
              <img
                class="repair-steps__devices__device-list__item__icon"
                src="/assets/imgs/sections/repair-steps/laptop.svg"
                alt="Laptop"
                loading="lazy"
              />
              Ноутбук
            </a>
            <a
              href="/services"
              class="repair-steps__devices__device-list__item"
            >
              <img
                class="repair-steps__devices__device-list__item__icon"
                src="/assets/imgs/sections/repair-steps/print.svg"
                alt="Printer"
                loading="lazy"
              />
              Принтер
            </a>
            <a
              href="/services"
              class="repair-steps__devices__device-list__item"
            >
              <img
                class="repair-steps__devices__device-list__item__icon"
                src="/assets/imgs/sections/repair-steps/tv.svg"
                alt="TV"
                loading="lazy"
              />
              Телевізор
            </a>
            <a
              href="/services"
              class="repair-steps__devices__device-list__item"
            >
              <img
                class="repair-steps__devices__device-list__item__icon"
                src="/assets/imgs/sections/repair-steps/other.svg"
                alt="Other"
                loading="lazy"
              />
              Інша техніка
            </a>
          </div>
        </div>
      </section>

      <section class="popular-services">
        <div class="container">
          <div class="popular-services__title">
            <h2 class="heading_3 font-semibold">Популярні послуги</h2>
            <p class="paragraph_2">Всі процеси відкриті та зрозумілі</p>
          </div>
          <div class="popular-services__list">
            <div class="popular-services__list__item">
              <img
                src="/assets/imgs/sections/popular-services/1.webp"
                alt="Ремонт смартфонів"
                loading="lazy"
              />
              <span class="font-bold">Ремонт смартфонів</span>
            </div>
            <div class="popular-services__list__item">
              <img
                src="/assets/imgs/sections/popular-services/2.webp"
                alt="Ремонт планшетів"
                loading="lazy"
              />
              <span class="font-bold">Ремонт планшетів</span>
            </div>
            <div class="popular-services__list__item">
              <img
                src="/assets/imgs/sections/popular-services/3.webp"
                alt="Ремонт ноутбуків"
                loading="lazy"
              />
              <span class="font-bold">Ремонт ноутбуків</span>
            </div>
            <div class="popular-services__list__item">
              <img
                src="/assets/imgs/sections/popular-services/4.png"
                alt="Ремонт комп'ютерів"
                loading="lazy"
              />
              <span class="font-bold">Ремонт комп'ютерів</span>
            </div>

            <div class="popular-services__list__item">
              <img
                src="/assets/imgs/sections/popular-services/5.webp"
                alt="Ремонт принтерів"
                loading="lazy"
              />
              <span class="font-bold">Ремонт принтерів</span>
            </div>
            <div class="popular-services__list__item">
              <img
                src="/assets/imgs/sections/popular-services/6.webp"
                alt="Ремонт телевізорів"
                loading="lazy"
              />
              <span class="font-bold">Ремонт телевізорів</span>
            </div>
            <div class="popular-services__list__item">
              <img
                src="/assets/imgs/sections/popular-services/7.webp"
                alt="Налаштування ПЗ"
                loading="lazy"
              />
              <span class="font-bold">Налаштування ПЗ</span>
            </div>
            <div class="popular-services__list__item">
              <img
                src="/assets/imgs/sections/popular-services/8.webp"
                alt="Заправка картриджів"
                loading="lazy"
              />
              <span class="font-bold">Заправка картриджів</span>
            </div>
          </div>
          <a href="/services">
            <button class="primary_button">Більше послуг</button>
          </a>
        </div>
      </section>

      <section class="how-we-work">
        <div class="container">
          <div class="how-we-work__title">
            <h2 class="heading_3 font-semibold">Як ми працюємо?</h2>
            <p class="paragraph_2">Всі процеси відкриті та зрозумілі</p>
          </div>
          <ul class="how-we-work__list">
            <li class="how-we-work__list__item">
              <img
                class="how-we-work__list__item__icon"
                src="/assets/imgs/sections/how-we-work/1.svg"
                alt="Швидко"
                loading="lazy"
              />
              <div class="how-we-work__list__item__description">
                <div class="paragraph_2 font-bold">Швидко</div>
                <div class="how-we-work__list__item__description__text">
                  Діагностика 1 година
                </div>
              </div>
            </li>
            <li class="how-we-work__list__item">
              <img
                class="how-we-work__list__item__icon"
                src="/assets/imgs/sections/how-we-work/2.svg"
                alt="Якісно"
                loading="lazy"
              />
              <div class="how-we-work__list__item__description">
                <div class="paragraph_2 font-bold">Якісно</div>
                <div class="how-we-work__list__item__description__text">
                  Гарантія до 36 місяців
                </div>
              </div>
            </li>
            <li class="how-we-work__list__item">
              <img
                class="how-we-work__list__item__icon"
                src="/assets/imgs/sections/how-we-work/3.svg"
                alt="Безкоштовна доставка"
                loading="lazy"
              />
              <div class="how-we-work__list__item__description">
                <div class="paragraph_2 font-bold">Безкоштовна доставка</div>
                <div class="how-we-work__list__item__description__text">
                  Заберемо вашу техніку на ремонт
                </div>
              </div>
            </li>
            <li class="how-we-work__list__item">
              <img
                class="how-we-work__list__item__icon"
                src="/assets/imgs/sections/how-we-work/4.svg"
                alt="Вигідно"
                loading="lazy"
              />
              <div class="how-we-work__list__item__description">
                <div class="paragraph_2 font-bold">Вигідно</div>
                <div class="how-we-work__list__item__description__text">
                  Чесні ціни + Гарантійний ремонт
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="guarantee-section">
        <div class="container">
          <div class="guarantee-section__part guarantee-section__part--one">
            <div class="guarantee-section__img-container">
              <img
                src="/assets/imgs/sections/guarantee/parts.webp"
                alt="Оригінальні запчастини"
                loading="lazy"
              />
            </div>
            <div class="guarantee-section__text-content">
              <h2 class="guarantee-section__title">
                Ми використовуємо тільки оригінальні запчастини та комплектуючі
              </h2>
              <p class="guarantee-section__desc">
                Ми надаємо гарантію на всі ремонтно-відновлювальні дії, що
                виконуються, а також не забуваємо і про запчастини/комплектуючі.
                Термін дії гарантійного талону встановлюється згідно з роком
                виробництва/випуску техніки, а також характером виявлених
                несправностей.
              </p>
            </div>
          </div>

          <div class="guarantee-section__part guarantee-section__part--two">
            <div class="guarantee-section__text-content">
              <h3 class="guarantee-section__subtitle">
                Повний пакет документів після ремонту
              </h3>
              <p class="guarantee-section__desc">
                Наш спеціаліст оформить на всі види виконаних робіт спеціальні
                документи – «Акт приймання–передачі техніки» та «Акт надання
                послуг». У них обов'язково вказуються всі дії щодо пристрою та
                використані запчастини/комплектуючі.
              </p>
            </div>
            <div class="guarantee-section__img-container">
              <img
                src="/assets/imgs/sections/guarantee/docs.webp"
                alt="Документи після ремонту"
                loading="lazy"
              />
            </div>
          </div>

          <label for="order-consultation-modal" class="secondary_button"
            >Отримати консультацію</label
          >
        </div>
      </section>

      <section class="reviews-section">
        <div class="container">
          <div class="reviews-section__title">
            <h2 class="title_2 font-semibold">Наші клієнти та відгуки</h2>
          </div>
          <div class="reviews-section__list">
            <div class="reviews-section__card">
              <div class="reviews-section__stars">
                <img
                  src="/assets/imgs/star-full.svg"
                  alt="star"
                  loading="lazy"
                />
                <img
                  src="/assets/imgs/star-full.svg"
                  alt="star"
                  loading="lazy"
                />
                <img
                  src="/assets/imgs/star-full.svg"
                  alt="star"
                  loading="lazy"
                />
                <img
                  src="/assets/imgs/star-full.svg"
                  alt="star"
                  loading="lazy"
                />
                <img
                  src="/assets/imgs/star-empty.svg"
                  alt="star"
                  loading="lazy"
                />
              </div>
              <div class="reviews-section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore
              </div>
              <div class="reviews-section__user">
                <img
                  class="reviews-section__user-avatar"
                  src="/assets/imgs/user1.jpg"
                  alt="Zeen Rai"
                  loading="lazy"
                />
              </div>
            </div>
            <div class="reviews-section__card">
              <div class="reviews-section__stars">
                <img
                  src="/assets/imgs/star-full.svg"
                  alt="star"
                  loading="lazy"
                />
                <img
                  src="/assets/imgs/star-full.svg"
                  alt="star"
                  loading="lazy"
                />
                <img
                  src="/assets/imgs/star-full.svg"
                  alt="star"
                  loading="lazy"
                />
                <img
                  src="/assets/imgs/star-full.svg"
                  alt="star"
                  loading="lazy"
                />
                <img
                  src="/assets/imgs/star-full.svg"
                  alt="star"
                  loading="lazy"
                />
              </div>
              <div class="reviews-section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore
              </div>
              <div class="reviews-section__user">
                <img
                  class="reviews-section__user-avatar"
                  src="/assets/imgs/user1.jpg"
                  alt="Zara M."
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="location-sections-wrapper">
        <section class="bring-yourself-section">
          <div class="bring-yourself-section__container">
            <h2 class="bring-yourself-section__title">
              Завезіть техніку самостійно
            </h2>
            <p class="bring-yourself-section__desc">
              або замовляйте нашого кур'єра. Це безкоштовно!
            </p>
            <div class="bring-yourself-section__location">
              <img
                src="/assets/imgs/geo.svg"
                alt="Геолокація"
                class="bring-yourself-section__icon"
              />
              <span class="bring-yourself-section__city"><b>Бровари,</b></span>
            </div>
            <div class="bring-yourself-section__address">
              вул. Незалежності, 2, СЦ «Технократ»
            </div>
            <div class="bring-yourself-section__schedule-title">
              Графік роботи:
            </div>
            <div class="bring-yourself-section__schedule">
              <div>Пн–Пт: 10:00–18:00</div>
              <div>Субота: 10:00–16:00</div>
              <div>Неділя — вихідний</div>
            </div>
            <label for="order-consultation-modal" class="primary_button"
              >Отримати консультацію</label
            >
          </div>
        </section>

        <section class="nova-poshta-section">
          <div class="nova-poshta-section__container">
            <h2 class="nova-poshta-section__title">
              Надсилайте техніку на ремонт Новою Поштою
            </h2>
            <p class="nova-poshta-section__desc">
              Наш сервісний центр приймає техніку на ремонт з будь-якої точки
              України
            </p>
            <div class="nova-poshta-section__instructions">
              <b>Щоб відправити техніку на ремонт, вам необхідно:</b>
              <ol class="nova-poshta-section__steps">
                <li>
                  1. Зв'язатися з нами за телефоном або електронною поштою та
                  повідомити про несправність.
                </li>
                <li>
                  2. Отримати від нас адресу та номер відділення для відправки
                  техніки.
                </li>
                <li>3. Упакувати техніку в коробку чи пакет.</li>
                <li>4. Сплатити вартість доставки.</li>
              </ol>
            </div>
            <label for="order-repair-modal" class="nova-poshta-section__button">
              <img
                src="/assets/imgs/novaposhta.svg"
                alt="Нова Пошта"
                class="nova-poshta-section__button-icon"
              />
              <span>Детальніше</span>
            </label>
          </div>
        </section>
      </div>
    </main>
</html>
