@{
    ViewData["Title"] = "Home Page";
}
<style>
    .container {
        display: flex;
        align-items: center; /* Вирівнює по центру вертикально */
        gap: 20px; /* Відступ між текстом і фото */
    }

    .text {
        flex: 1; /* Текст займатиме всю доступну ширину */
    }

    .image img {
        max-width: 500px; /* Обмеження ширини фото */
        height: auto;
    }
</style>


<div class="text-center">
    <h1 class="display-4">Вітаємо на сайті Tehnokrat</h1>

    <h2>Про нас</h2>

    <div class="container">
        <div class="text">
            <p>Наш сервісний центр пропонує широкий спектр послуг з ремонту мобільних телефонів, ноутбуків, принтерів, телевізорів та продажу аксесуарів для мобільних телефонів у місті Бровари. Ми маємо професійний колектив фахівців, які мають великий досвід роботи з різними марками техніки. Наші майстри проводять діагностику та ремонт пристроїв будь-якої складності, замінюють пошкоджені екрани, батареї, зарядні пристрої, а також виконують інші види ремонту. Ми гарантуємо високу якість робіт та використання тільки якісних запчастин. Також в нашому магазині ви можете придбати різноманітні аксесуари для мобільних телефонів, такі як захисне скло, чохли, захисні плівки, зарядні пристрої, кабелі та багато іншого. Ми пропонуємо широкий асортимент товарів з різних брендів за доступними цінами. Зверніться до нас і ми з радістю допоможемо вам відновити роботу вашого пристрою або підібрати необхідний аксесуар для нього. Наша мета - задоволення потреб клієнтів та створення довгострокових взаємовигідних відносин.</p>

        </div>
        <div class="image">
            <img src="~/img/gallery/photo_15_2025-03-28_19-28-44.jpg" alt="Фото">
        </div>
    </div>
    <h2>Ми ремонтуємо</h2>

    <div class="image_devices_gallery">
        <div class="image-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Phone">
                <img src="img/devices/smartphone.png"><br>
                Телефони
            </a>
        </div>
        <div class="image-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Tablet">
                <img src="img/devices/tablet.png"><br>
                Планшети
            </a>
        </div>
        <div class="image-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Laptop">
                <img src="img/devices/laptop.png"><br>
                Ноутбуки
            </a>
        </div>
        <div class="image-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="TV">
                <img src="img/devices/television.png"><br>
                Телевізори
            </a>
        </div>
        <div class="image-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Printer">
                <img src="img/devices/printer.png"><br>
                Принтери
            </a>
        </div>  
    </div>
    <br>
    <a class="nav-link text-dark" asp-controller="Home" asp-action="Contacts">
        <h4> Як нас знайти? </h4>
    </a>


</div>
