@{
    ViewData["Title"] = "Ноутбуки";
}

<div class="text-center">
    <h1 class="display-4">Ноутбуки</h1>
    <h3>
        Ми працюємо з:
    </h3>

    <div class="image_company_logo">
        <div class="company_logo_container">
            <img src="/img/company_logo/acer.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/asus.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/dell.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/hp.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/lenovo.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/sony.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/toshiba.png"><br>
        </div>
      
            <div class="company_logo_container">
            <img src="/img/company_logo/apple.png"><br>
        </div>
        <!--
        <div class="company_logo_container">
            <img src="/img/company_logo/doogee.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/techno.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/realme.png"><br>
        </div>

        -->
        

    </div>
    
    <h3>
        Наші послуги включають:
    </h3>
    <ul>
        <li>Заміна дисплея</li>
        <li>Ремонт клавіатури та тачпаду</li>
        <li>Відновлення роботи системи охолодження</li>
        <li>Заміна акумулятора</li>
        <li>Відновлення роботи жорсткого диска</li>
        <li>Відновлення роботи материнської плати</li>

        <!--TODO-->
    </ul>

    <h2>Ціни на ремонт ноутбуків</h2>

    <table>
        <tr>
            <th>Проблема</th>
            <th>Рішення</th>
            <th>Ціна (грн)</th>
        </tr>
        <tr>
            <td rowspan="4">Ноутбук не вмикається</td>
          
        </tr>
        <tr>
            <td>Заміна роз'єму живлення</td>
            <td>від 1800</td>
        </tr>
        <tr>
            <td>Заміна процесора</td>
            <td>від 2000</td>
        </tr>
        <tr>
            <td>Заміна чипа матриці</td>
            <td>500</td>
        </tr>
        <tr>
            <td>Не працює клавіатура</td>
            <td>Заміна клавіатури</td>
            <td>від 380</td>
        </tr>
        <tr>
            <td rowspan="2">Проблеми з матрицею ноутбука</td>
            <td>Заміна матриці</td>
            <td>від 2000</td>
        </tr>
        <tr>

        </tr>
        <tr>
            <td rowspan="3">Синій екран або помилки</td>
            <td>Налаштування ПЗ</td>
            <td>безкоштовно</td>
        </tr>
        <tr>
            <td>Перевірка жорсткого диска</td>
            <td>від 1600</td>
        </tr>
        <tr>
            <td>Діагностика комплектуючих</td>
            <td>450</td>
        </tr>
        <tr>
            <td rowspan="3">Ноутбук не заряджається</td>
            <td>Заміна контролера живлення</td>
            <td>від 450</td>
        </tr>
        <tr>
            <td>Ремонт плати</td>
            <td>від 1200</td>
        </tr>
        <tr>
            <td>Заміна гнізда зарядки</td>
            <td>від 400</td>
        </tr>
        <tr>
            <td rowspan="2">Повільна робота ноутбука</td>
            <td></td>
        </tr>
        
        <tr>
        
        </tr>
        <tr>
            <td>Інші проблеми</td>
          <td></td>
        </tr>
    </table>
    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">
        <h4>Повернутися на головну</h4>
    </a>

</div>
