@{
    ViewData["Title"] = "Телевізори";
}

<div class="text-center">
    <h1 class="display-4">Телевізори</h1>

    <div class="image_company_logo">
        <div class="company_logo_container">
            <img src="/img/company_logo/hisense.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/jvc.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/lg.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/panasonic.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/philips.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/sharp.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/sony.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/tcl.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/vizio.png"><br>
        </div>
        <div class="company_logo_container">
            <img src="/img/company_logo/samsung.png"><br>
        </div>
    </div>

    <div class="full-width-section">
        <!--

        <img src="~/img/devices/computer.png" class="side-icon left-icon">

        -->
        <h2 style="font-size: 24px; color: #EDCE63;">Маєте запитання по ремонту й вартості? Подзвоніть нам!</h2>
        <br>
        <div style="display: flex; justify-content: center;">
            <a asp-controller="Home" asp-action="Contacts" style="
                background-color: #EDCE63;
                border: 2px solid #FFD740;
                padding: 10px 20px;
                font-size: 18px;
                cursor: pointer;
                border-radius: 10px;
                text-decoration: none;
                color: black;
                font-weight: bold;
                text-align: center;
            ">
                Контакти
            </a>
        </div>
    </div>
    <br>

    <h3>
        Наші послуги включають:
    </h3>
    <ul>
        <li>Заміна матриці</li>
        <li>Ремонт блоку живлення</li>
        <li>Відновлення ланцюгів живлення</li>
        <li>Ремонт плати</li>
        <li>Усунення технічних несправностей - зависання, тощо</li>
        <li>Заміна підсвітки телевізора</li>

        <!--TODO-->
    </ul>

    <h2>Ціни на ремонт телевізорів</h2>

    <table>
        <tr>
            <th>Проблема</th>
            <th>Рішення</th>
            <th>Ціна (грн)</th>
        </tr>
        <tr>
            <td rowspan="3">Є звук, але немає зображення</td>
            <td>Заміна підсвічування телевізора 32”</td>
            <td>1500-1800</td>
        </tr>
        <tr>
            <td>Заміна підсвічування телевізора 40-49”</td>
            <td>2000-2500</td>
        </tr>
        <tr>
            <td>Заміна підсвічування телевізора 50”</td>
            <td>3500</td>
        </tr>
        <tr>
            <td rowspan="3">Телевізор не вмикається</td>
            <td>Ремонт блока живлення</td>
            <td>1100</td>
        </tr>
        <tr>
            <td>Відновлення ланцюга живлення</td>
            <td>900-1300</td>
        </tr>
        <tr>
            <td>Ремонт плати телевізора</td>
            <td>900-1200</td>
        </tr>
        <tr>
            <td>Телевізор зависає на заставці</td>
            <td>Прошивка</td>
            <td>800-1200</td>
        </tr>
        <tr>
            <td rowspan="3">На екрані тіні або світлі плями</td>
            <td>Заміна підсвічування телевізора 32”</td>
            <td>1500-1800</td>
        </tr>
        <tr>
            <td>Заміна підсвічування телевізора 40-49”</td>
            <td>2000-2500</td>
        </tr>
        <tr>
            <td>Заміна підсвічування телевізора 50”</td>
            <td>3500</td>
        </tr>
        <tr>
            <td>Інші проблеми</td>
            <td>Дзвінок для консультації</td>
            <td>-</td>
        </tr>
    </table>
    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index"><h4>Повернутися на головну</h4></a>
</div>
